xml/uprosh.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="REPORT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DPAHEAD">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="OKPO"/>
              <xs:element name="DATE_PODACHI">
              <xs:simpleType>
                          <xs:restriction base="xs:string">
                              
                            <xs:pattern value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.(19|20)\d\d"/>
                          </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
              <xs:element  name="TYPE_DECL">
              <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:pattern value="[1-3]{1}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element> 
              <xs:element type="xs:byte" name="GROUP_TYPE"/>
              <xs:element name="MONTH_REPORT">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(0[1-9]|1[012])"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element  name="YEAR_REPORT">
              <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(20)[0-9]{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:long" name="KOL_SOTRUD"/>
              <xs:element type="xs:long" name="ROW1"/>
              <xs:element type="xs:long" name="ROW2"/>
              <xs:element type="xs:long" name="ROW3"/>
              <xs:element type="xs:long" name="ROW4"/>
              <xs:element type="xs:float" name="ROW5"/>
              <xs:element type="xs:long" name="ROW6"/>
              <xs:element type="xs:long" name="ROW7"/>
              <xs:element type="xs:long" name="ROW7_1"/>
              <xs:element type="xs:long" name="ROW8"/>
              <xs:element type="xs:long" name="ROW8_1"/>
              <xs:element type="xs:long" name="ROW8_2"/>
              <xs:element type="xs:long" name="ROW9"/>
              <xs:element type="xs:long" name="ROW9_1"/>
              <xs:element type="xs:long" name="ROW9_2"/>
              <xs:element type="xs:long" name="ROW10"/>
              <xs:element type="xs:long" name="ROW11"/>              
              <xs:element type="xs:long" name="ROW12"/>
              <xs:element type="xs:long" name="ROW12_1"/>
              <xs:element type="xs:long" name="ROW12_2"/>
              <xs:element type="xs:long" name="ROW13"/>
              <xs:element type="xs:long" name="ROW14"/>
             
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PRIL_A">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ROW" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="N_PP"/>
                    <xs:element type="xs:string" name="OKPO"/>
                    <xs:element type="xs:string" name="NAME_KONTRAGENTA"/>
                    <xs:element type="xs:float" name="SUMMA"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PRIL_B">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ROW" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="N_PP"/>
                    <xs:element type="xs:string" name="OKPO"/>
                    <xs:element type="xs:string" name="NAME_KONTRAGENTA"/>
                    <xs:element type="xs:float" name="SUMMA"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PRIL_G">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ROW" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="N_PP"/>
                    <xs:element type="xs:string" name="OKPO"/>
                    <xs:element type="xs:string" name="NAME_KONTRAGENTA"/>
                    <xs:element name="DATE">
                    <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.(19|20)\d\d"/>
                          </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="NUM_DOC"/>
                    <xs:element type="xs:float" name="SUMMA"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PRIL_D">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ROW" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="N_PP"/>
                    <xs:element type="xs:string" name="OKPO"/>
                    <xs:element type="xs:string" name="NAME_KONTRAGENTA"/>
                    <xs:element type="xs:string" name="OPER_TYPE"/>
                    <xs:element type="xs:float" name="SUMMA"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>